<h1>Admin Dashboard</h1>

<p class=dashboard>
  <p class="shadow-lg p-3 mb-5 bg-white rounded dash-link"><%= link_to "Number of products:", [:admin, :products] %>
      <%= @product_count %>
  </p>
  <p class="shadow-lg p-3 mb-5 bg-white rounded dash-link"><%= link_to "Number of categories:", [:admin, :categories] %>
  <%= @categories_count %>
  </p> 
</p>
