<h1>About us</h1>
<h2>Junge Garden Centers</h2>

<p>LONG TIME CALGARIANS KNOW; THERE HAS BEEN A GARDEN CENTRE IN THIS LOCATION SINCE... FOREVER!
What they may not know is that greengate Garden Centres has been a family run business that was purchased way back in 1997.
</p>
<p>
Its hard to believe that 24 years have gone by so fast!
</p>
<p>
24 years ago, the greengate Garden Centres was operated on just 3.5 acres. It was actually kind of a pain in the butt for our loyal customers who endured traffic jams to find a place to park. Greengate staff was literally on traffic control and parking duty as we had very little space, especially on busy spring days. That's when we realized it was time to get it under control. We parceled together city and provincial land to build numerous state of the art Cravo greenhouses which became the greengate Garden Centres you know today.
</p>
<p>
Certainly, it was challenging in the beginning when we had to navigate mud holes and protect annuals from the bitter cold spring nights. Every morning we would uncover tender annuals, perennials, trees and shrubs, only to recover than every night. The struggle continued when unloading trucks full of trees as we didn't have a dock leveler then. Therefore, each tree was hand lifted from the truck to the ground, then moved again to our tiny tree lot. We are very happy we don't have to go back to the good old days!
</p>
<p>
In the past 24 years, we have become a family. There are members of our current staff who have been a part of our team for over 20 years, and we are grateful for those years of dedication to gardening and to greengate. Of course, while we have had staff members move on, each person brought something special to greengate during their time here. It's a great day when they stop in for a visit!
</p>
<p>
Greengate garden centres determined early on it was important to do our part for our community by providing donations and sponsorships along with working to protect the environment. We have donated $100,000's in plants to those who can use them the most. We have been a partner with the Calgary Horticultural Society for over a decade; we support them with not only product but dollars so they can better service Calgarians.
</p>
<p>
Without a question, we would never have been able to do all that we do without your support. Give yourself a pat on the back! By supporting greengate Garden Centres you have in turn supported your own community!
</p>
<p>
We are proud of what we have done in 24 years and we thank all of our customers for making it happen.
</p>
<p>
greengate garden centres is proud of what we have accomplished and look forward to what's next. We thank you, our customers, for making it happen and can't wait for you to drop in again. We wish you a wonderful gardening season.</p>
</p>