.text_field_style {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 8px #888888;
  border: none;
}

.login_nav {
  margin-bottom: 0;
}

.login_title {
  margin-bottom: 1em;
}

// .sign_up {
//   display: flex;
//   flex-direction: column;
//   margin-bottom: 2em;
// }

// .sign_up_box {
//   display: flex;
//   flex-direction: column;
//   margin-bottom: 1em;
// }